# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=email-service-group
KAFKA_TOPIC=email-notifications

# Email Provider Configuration (SMTP or SES)
EMAIL_PROVIDER=SMTP

# SMTP Configuration
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USER=noreply@xxxxxxxxx.com
MAIL_PASS=xxxxxxxxx
MAIL_FROM="Notifier noreply@xxxxxxxxx.com"
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_SSL_TRUST=smtp.office365.com
MAIL_DEFAULT-ENCODING=UTF-8


# Application Configuration
NODE_ENV=development
LOG_LEVEL=info
